
<div *ngIf="fashionidas">
    <h2><span jhiTranslate="jhipsimpleApp.fashionidas.detail.title">Fashionidas</span> {{fashionidas.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row">
        <dt><span jhiTranslate="jhipsimpleApp.fashionidas.alias">Alias</span></dt>
        <dd>
            <span>{{fashionidas.alias}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'fashionidas/'+ fashionidas.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
